#include <iostream> // подключение библеотеки iostream
using namespace std;
int main() // начало программы
{
	setlocale(LC_ALL, "Russian"); // Корректный вывод русских символов
	cout << "\t\t\t\t\t\t\t A.C.Пушкин\n";
	cout << "\t\t\t\t\t\t\t \"Она\"\n";
	cout << "\t\t\t\t\t«Печален ты; признайся, что с тобой».\n" << "\t\t\t\t\t— Люблю, мой друг! — «Но кто ж тебя пленила?»\n";
	cout << "\t\t\t\t\t— Она.— «Да кто ж? Глидера ль, Хлоя, Лила?»\n";
	cout << "\t\t\t\t\t— О, нет! — «Кому ж ты жертвуешь душой?»\n";
	cout << "\t\t\t\t\t— Ах! ей! — «Ты скромен, друг сердечный!\n";
	cout << "\t\t\t\t\tНо почему ж ты столько огорчен?\n";
	cout << "\t\t\t\t\tИ кто виной? Супруг, отец, конечно…»\n";
	cout << "\t\t\t\t\t— Не то, мой друг! — «Но что ж!» — Я ей не он\n";
}
